@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 240 5.9% 90%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
  }

  [data-theme='dark'] {
    --border: 240 3.7% 15.9%;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.profile-image-hover {
  @apply transition-transform duration-300 hover:scale-105 hover:border-primary;
}
